.artwork-edit-container-all {
  .artwork-edit-img-back {
    margin: 100px 0 0 35px;
    width: rem(40px);
    &:hover {
      cursor: pointer;
    }
  }
  .artwork-edit-container-main {
    display: flex;
    flex-wrap: wrap;

    .artwork-edit-left-side-container {
      margin-inline-end: rem(20px);
      flex-grow: 1.5;
      display: flex;
      flex-direction: column;

      .artwork-edit-img-artwork{
        display: flex;
        justify-content: center;
      }
      .artwork-edit-img-artwork {
        max-height: rem(300px);

      }
      .artwork-edit-img-artwork img {
        object-fit: contain;
        width: 100%;
      }
      .artwork-edit-gallery {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
      }



      .product-details-review-prev {
        list-style-type: none;
        margin-bottom: 70px;
        .product-details-review-main-header {
          display: flex;
          .product-details-img-reviewer {
            width: rem(40px);
            height: rem(40px);
            border-radius: 50%;
            margin-right: 10px;
          }
          .product-details-review-fullName {
            font-size: 16px;
          }
        }
        .product-details-review-txt {
          max-width: 80ch;
          margin: 5px 0;
        }
        .product-details-review-rate {
          margin: 0;
        }
      }
    }

    .artwork-details-head-gallery {
      margin-inline-end: rem(10px);
      display: flex;
      flex-direction: row;
      max-height: 150px;
      width: auto;
      justify-content: center;
      & > img {
        cursor: pointer;
        max-width: rem(150px);
      }
    }

    .artwork-edit-head-gallery-item {
      margin: 5px;
      object-fit: cover;
      max-width: 100px;
      height: Auto;
    }

    .artwork-edit-aside-container {
      justify-self: center;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      text-align: center;


      .artwoek-edit-form{
        width: 90%;
        border: 1px solid rgba(247, 203, 147, 0.856);
        display:flex;
        flex-direction: column;
      }
      & h4 {
        width: 100%;
        margin: 0;
        text-align: left;
        background-color: $clr1;
        color: darkviolet;
        color: $clr2;
        font-weight: bold;
        padding: rem(8px);
      }
      & > * {
        align-self: center;
      }
      & input,
      & .edit-form-input {
        padding:0.6rem 0px 0.6rem 0.2rem;
        margin: 0px;
        border-radius: 0px;
        width: 100%;
        height: 100%;
        background-color: inherit;
        transition: all, 0.3s;
        &:hover, &:focus {
          background-color: rgb(235, 220, 220);
        }
      }
      .edit-form-input {
        transition: all, .3s;
        cursor: pointer;
        font-weight: 700;

      }      .edit-form-input:hover {
        letter-spacing: 0.3px;
        
      }
      
      .edit-form-input.save-artwork{
        width: 100%;
        outline: none;
        font-weight: bold;
        font-size: 1.3rem;
        color: $clr2;
        &:hover{
          color: $clr1;
          letter-spacing: inherit;
        }
      }


      textarea {
        padding: 8px;
        width: 100%;
        min-height: 20ch;
        resize: none;
        border: none;
        outline: none;
        transition: all, 0.3s;
        &:focus,&:hover
         {
          background-color: rgb(235, 220, 220);
        }
      }
    }
  }






  .set-out-stock {
    padding: rem(10px);
    border: none;
    margin: 0;
    width: 100%;
    height: 100%;
    outline: none;
    background-color: rgba(245, 245, 245, 0.13);
    color: rgb(98, 173, 98);
    transition: all, 0.2s;
    &:hover {
      background-color: rgb(245, 245, 245);
    }
  }
  .setInStock {
    color: rgb(177, 75, 75);
  }
}
