.product-details-container-all {
    .product-details-img-back {
        margin: 100px 0 0 35px;
        width: rem(40px);
        &:hover {
            cursor: pointer;
        }
    }
    .product-details-container-main {
        display: flex;
        margin: 0 80px 0 80px;
        .product-details-left-side-container {
            flex-grow: 2.8;
            .product-details-preview-artwork {
                text-align: center;
                min-height: 600px;
                padding-top: 80px;
                margin-bottom: 90px;
                .product-details-img-artwork {
                    width: 21.75rem;
                }
            }
            .product-details-container-reviews {
                margin: 0 auto;
                width: 80%;
                margin-left: -10px;
                .product-details-reviews-list {
                    padding: 0;
                    .product-details-review-prev {
                        list-style-type: none;
                        margin-bottom: 70px;
                        .product-details-review-main-header {
                            display: flex;
                            .product-details-img-reviewer {
                                width: rem(40px);
                                height: rem(40px);
                                border-radius: 50%;
                                margin-right: 10px;
                            }
                            .product-details-review-fullName {
                                font-size: 16px;
                            }
                        }
                        .product-details-review-txt {
                            max-width: 80ch;
                            margin: 5px 0;
                        }
                        .product-details-review-rate {
                            margin: 0;
                        }
                    }
                }
            }
        }
        .product-details-line {
            padding: 0;
            background-color: #d1d1d1;
            width: 1px;
            display: inline-block;
            vertical-align: middle;
        }
        .product-details-aside-container {
            flex-grow: 4;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding: 40px 25px;
            margin-left: 0;
            margin-right: 0%;
            .product-details-seller-main {
                // background-color: rgb(203, 248, 192);
                width: 40%;
                .product-details-img-seller {
                    width: rem(40px);
                    height: rem(40px);
                    border-radius: 50%;
                    margin-right: 10px;
                    transition: all .4s;
                }
                .product-details-img-seller:hover {
                    transform: scale(1.2);
                    cursor: pointer;
                }
                .product-details-seller-main2 {
                    .product-details-seller-name {
                        transition: all .4s;
                        color: #323232;
                        text-decoration: underline;
                        font-size: 16px;
                        width: 35px;
                        margin-right: 10px;
                        font-weight: 500;
                    }
                    .product-details-seller-name:hover {
                        // transform: translateY(-1px);
                        transform: scale(1.2);
                        cursor: pointer;
                    }
                    .product-details-seller-sales {
                        font-size: 17px;
                        font: status-bar;
                    }
                }
                .product-details-span {
                    margin-right: 10px;
                }
            }
            .product-details-aside-price {
                display: flex;
                flex-direction: column;
                color: #d5a770;
                font-size: 2.5rem;
                line-height: 40px;
                margin-bottom: 20px;
                padding: 67px 30px;
                margin: -30px auto;
                .product-details-price-title {
                    display: flex;
                    justify-content: flex-start;
                    font-size: .8125rem;
                    color: #000;
                    font-weight: 500;
                    margin: 0;
                    text-transform: uppercase;
                    margin-left: 35px;
                    margin-bottom: -5px;
                }
                .product-details-price-num {
                    margin: 0;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    color: #d5a770;
                    font-size: 2.5rem;
                    line-height: 40px;
                    margin-right: 25px;
                }
                .product-details-free-shipping {
                    color: #000;
                    font-size: 1rem;
                    line-height: 1.3;
                    margin-top: 20px;
                    margin-bottom: 30px;
                }
            }
            .product-details-buy-btn {
                border-radius: 20px;
                text-transform: uppercase;
                line-height: 16px;
                letter-spacing: 2px;
                border: 2px black solid;
                padding: 10px;
                width: 270px;
                margin-bottom: 15px;
                color: black;
                background-color: white;
                transition: all .2s ease-in-out;
            }
            .product-details-buy-btn:hover {
                transform: scale(1.1);
            }
            .product-details-add-btn {
                border-radius: 20px;
                text-transform: uppercase;
                line-height: 16px;
                letter-spacing: 2px;
                border: 2px black solid;
                padding: 10px;
                width: 270px;
                color: white;
                background-color: black;
                transition: all .2s ease-in-out;
                margin-bottom: 95px;
            }
            .product-details-add-btn:hover {
                transform: scale(1.1);
            }
        }
        .product-details-policy-main {
            height: 70%;
            width: 100%;
            .product-details-all-policy-img {
                background-color: lightgoldenrodyellow;
                .product-details-policy-img {
                    width: 50px;
                    font-size: .8125rem;
                    margin: 10px;
                }
                .product-details-policy-main1 {
                    display: flex;
                    justify-content: space-around;
                    padding: 10px;
                    margin-bottom: 20px;
                }
                .product-details-policy-main2 {
                    display: flex;
                    justify-content: space-around;
                    padding: 10px;
                    margin-bottom: 20px;
                }
                .product-details-policy-main3 {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 10px;
                }
                .product-details-policy-flex-col {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    margin: 0 10px;
                }
                .product-details-p {
                    width: 170px;
                    margin-left: 7px;
                    margin-top: 5px;
                    max-width: 50ch;
                    text-align: center;
                }
                .product-details-p1 {
                    width: 170px;
                    margin-left: 1px;
                    margin-top: 5px;
                    max-width: 50ch;
                    text-align: center;
                }
            }
        }
    }
}