.cart-container {
    margin: 90px 100px;
    min-height: rem(635px);
    .cart-page-img-back {
        height: 25px;
        width: 25px;
    }
    .cart-buy-all {
        width: 100px;
        height: 40px;
        border: 2px solid black;
        margin-left: 90%;
        font-size: 17px;
        font-weight: 600;
        color: purple;
    }
    .cart-main-container {
        min-height: rem(200px);
        .cart-main {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: rem(500px);
            margin-bottom: 20px;
            padding: 30px 0;
            width: 100%;
            .cart-remove {
                cursor: pointer;
                font-size: 15px;
                color: #323232;
                text-decoration: underline;
            }
            .cart-buy {
                cursor: pointer;
                font-size: 15px;
                color: #323232;
                text-decoration: underline;
            }
            .cart-tite {
                width: 70px;
                line-height: 1.47em;
                font-size: 20px;
                margin-left: -35px;
            }
        }
    }
    .cart-img-product {
        width: rem(100px);
    }
}

@media (max-width: $break-wide) {
    .cart-container {
        margin: 80px 30px;
        .cart-buy-all {
            width: 100px;
            height: 40px;
            border: 2px solid black;
            margin-left: 80%;
            font-size: 16px;
        }
        .cart-main-container {
            .cart-main {
                flex-direction: column;
                .cart-tite {
                    margin: 0 auto;
                }
            }
        }
    }
}