.seller-gallery-container {
    margin: 80px 50px;
    .artwork-prev-controle-pad {
        display: none;
    }
    .seller-gallery-chat-btn {
        position: fixed;
        top: 100px;
        right: 35px;
        border: 2px black solid;
        background-color: white;
        color: black;
        font-size: 16px;
        font-weight: 600;
        z-index: 3;
        opacity: 0.7;
        width: 16ch;
        span{
            font-weight: inherit;
        }
    }
    .seller-gallery-img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
    .seller-gallery-chat-seller {
        position: fixed;
        bottom: 5px;
        right: 15px;
        border: black 2px solid;
        padding: 10px;
        background-color: rgb(255, 255, 255);
        width: 25%;
        min-height: 300px;
        text-align: center;
        h2 {
            font-size: 20px;
            font-weight: 700;
        }
        .send-btn {
            height: 40px;
            font-size: 16px;
            font-weight: 600;
        }
    }
    .artwork-list-main-container {
        text-align: center;
        .artwork-list-artwork-prevs-container {
            display: inline-block;
            column-count: 3;
            column-gap: 10px;
            column-width: 100%;
            width: 80%;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 25px;
        }
        .artwork-list-prev {
            display: inline-block;
            width: 100%;
            padding: 3px;
            box-shadow: 0 0 2px grey;
        }
    }
}

@media (max-width: $break-wide) {
    .seller-gallery-container {
        margin: 80px 40px;
        .artwork-list-main-container {
            .artwork-list-artwork-prevs-container {
                column-count: 2;
            }
        }
        .seller-gallery-chat-seller {
            width: 30%;
        }
    }
}

@media (max-width: $break-normal) {
    .seller-gallery-container {
        margin: 70px 20px;
        text-align: center;
        .artwork-list-main-container {
            .artwork-list-artwork-prevs-container {
                column-count: 1;
            }
        }
        .seller-gallery-chat-btn {
            height: unset;
            span{
                display: none;
            }
            width: unset;
            padding: 10px;
            border-radius: 10px;
        }
        .seller-gallery-chat-seller {
            width: 65%;
        }
    }
}