.artwork-prev {
    & .artwork-prev-created-by {
        padding: 0;
        display: flex;
        align-items: center;
    }
    & .artwork-prev-cretadBy-img {
        margin-inline-end: rem(5px);
        width: rem(30px);
        height: rem(30px);
        border-radius: 50%;
    }
    & .artwork-prev-img-container {
        position: relative;
        height: 100%;
        border-radius: 0.3rem;
    }
    & .artwork-prev-img-container>img {
        height: 100%;
    }
    & .artwork-prev-txt-container {
        background-color: #fff;
        flex-direction: column;
        justify-content: space-between;
        .artwork-prev-img {
            object-fit: contain;
            padding: 0px 3px;
        }
        .artwork-prev-container-flach {
            width: 100%;
            padding: 10px;
        }
    }
    & .artwork-prev-txt-header {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        min-width: 215px;
        .artwork-prev-USD {
            color: blue;
            margin-left: 2px;
        }
    }
    & .artwork-prev-txt-header>* {
        margin: 0px;
    }
    & h3 {
        margin: 0.2rem;
    }
    .artwork-prev-controle-pad {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        font-size: 1.2rem;
    }
    .artwork-prev-wishlist-icon{
    font-size: 1.25rem;
    transition: all, .2s;
    &:hover, &:active{
        font-size: 1.5rem;
        color: indigo;
    }
    }
    .artwork-prev-wishlist-icon-added {
        font-size: 1.5rem;
        color: indigo;
        // position: absolute;
        // right: 5px;
        font-size: 1.5rem;

    }
    .prev-wishlist-container{
        position: absolute;
        right: 5px;
    }
}