.artwork-prev {
    & .artwork-prev-created-by {
        padding: 0;
        display: flex;
        align-items: center;
    }
    & .artwork-prev-cretadBy-img {
        margin-inline-end: rem(5px);
        width: rem(30px);
        height: rem(30px);
        border-radius: 50%;
    }
    & .artwork-prev-img-container {
        position: relative;
        height: 100%;
        border-radius: 0.3rem;
    }
    & .artwork-prev-wish-list {
        position: absolute;
        right: 2px;
        top: 2px;
        height: rem(30px);
        width: rem(30px);
        transition: all 0.3s;
    }
    & .artwork-prev-wish-list:hover {
        transform: scale(1.2);
        background-color: rgba(248, 76, 76, 0.384);
        border-radius: 50%;
        padding: 7px;
    }
    & .artwork-prev-img-container>img {
        height: 100%;
    }
    & .artwork-prev-txt-container {
        background-color: #fff;
        flex-direction: column;
        justify-content: space-between;
        .artwork-prev-img {
            object-fit: contain;
            width: 60%;
            border: black 5px solid;
            padding: 0px 3px;
        }
        .artwork-prev-container-flach {
            width: 100%;
            padding: 20px;
        }
    }
    & .artwork-prev-txt-header {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        .artwork-prev-USD {
            color: blue;
            margin-left: 2px;
        }
    }
    & .artwork-prev-txt-header>* {
        margin: 0px;
    }
    & h3 {
        margin: 0.2rem;
    }
}