.artwork-list-artwork-prevs-container{
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
    grid-auto-ro88ws: rem(240px);
    gap: rem(257px);
}