.artwork-list-main-container {
    width: 100%;
    margin: 0 auto;
    .artwork-list-artwork-prevs-container {
        display: flex;
    }
    .artwork-list-artwork-prevs-container>* {
        margin: 5px;
    }
    .artwork-list-more-main {
        text-align: right;
        margin-right: 20px;
        .artwork-list-more-btn {
            display: inline-block;
            font-size: 30px;
            text-decoration-line: underline;
            margin: 0;
        }
        .artwork-list-more-btn:hover {
            color: skyblue;
        }
    }
}