.artwork-filter {
  min-width: 400px;
  max-width: 70%;

  .search-container {
    min-width: 46ch;
    margin-bottom: 2rem;
    align-self: start;
    border: 1px solid rgba(121, 116, 116, 0.507);
    border-radius: 0.3rem;
    display: flex;
    justify-content: stretch;
    flex-direction: row;
    align-items: center;
    transition: all, 0.3s;
    &:hover,
    &:focus {
      background-color: rgb(255, 255, 255);
    }
    &.onFocus {
      border: 1px solid rgb(73, 68, 73);
    }
    .filter-icon-container{
        width: 42px;
        height: 100%;
        text-align: center;
        align-self: center;
    }

    .search-input {
      background-color: #fff;
      border-radius: 0px;
      outline: none;
      padding: 4px 0 4px 10px;
      font-size: 1rem;
      transition: all, 0.2s;
      height: 20px;
      color: rgb(20, 2, 32);
      flex-grow: 2;
      &::placeholder {
        color: #a5a4a7;
        font-weight: lighter;
      }
    }

    .el-radio-button__inner {
      color: #e0b5ff;
      border: none;
      padding: 8px 10px;
      border-radius: 0px;
      font-size: 1rem;
      box-shadow: 1px solid rgba(196, 15, 15, 0);
      background-color: rgba(238, 225, 225, 0);
    }
    .el-radio-button__orig-radio:checked + .el-radio-button__inner {
      background-color: #c5c5c0;
      color: white;
      box-shadow: none;
    }

    .filter-icon {
        padding: 2px;
      border-radius: 0px 3px 3px 0px;
      color: rgb(148, 144, 144);
      transition: all, 0.3s;
      font-size: 17px;
      cursor: pointer;
      &:hover {
        color: rgb(34, 32, 32);
      }
      &.onFocus {
        color: rgb(34, 32, 32);
      }
    }

    & > * {
      margin: 0;
      border: none;
      display: inherit;

    }
  }
  .search-secondary-line {
    display: flex;
    flex-direction: row;

    & .el-input-number:hover {
      border-radius: 0.5rem;
      border: 1px solid rgb(65, 52, 88);
    }
  }
}

@media (max-width: $break-normal) {
  .artwork-filter {
    min-width: unset;
    max-width: 70%;
    .search-container {
      min-width: unset;
      width: 140%;
      .search-input {
        flex-grow: 0;
        width: 55%;
      }
      .search-pad{
        width: 30%;
      }
    }
  }
}
