.artwork-list-artwork-prevs-container{
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: rem(270px);
    gap: rem(10px);
}