.card-cat {
    font-family: GreatVibes;
    background-color: lighten($clr1, 15%);
    
    .cat-tag {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: rem(40px);

        color: #fff;

    }

    .cat-image {
        mix-blend-mode: multiply;
        filter: grayscale(1);
    }
}