
.color-select-container{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  .color-select{
    -webkit-box-shadow: 10px 13px 5px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 13px 5px -14px rgba(0,0,0,0.75);
    box-shadow: 10px 13px 5px -14px rgba(0,0,0,0.75);

    border: 1px solid rgba(0, 0, 0, 0.24);
    opacity: 0.7;
    margin: 10px 10px;
    height: rem(35px);
    width: rem(35px);
    border-radius: rem(10px);
    cursor: pointer;
    transition: all .3s;


    &:hover{
      border: 1px solid black;

    }
    }
}
