.navbar-container {
    background-color: $clr2;
    padding: 15px;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
    .navbar-container-main {
        display: flex;
    }
    img {
        height: 30px;
        width: 30px;
    }
    .nav-bar-input {
        display: flex;
        margin-right: 200px;
        .navbar-input-inside {
            width: 400px;
            height: 30px;
            margin-right: 10px;
        }
        .nav-bar-search-img {
            position: relative;
            right: 50px;
            bottom: -3px;
            width: 24.8px;
            height: 25px;
            opacity: 0.4;
        }
    }
    .nav-bar-3buttons {
        display: flex;
        .nav-bar-cart-container {
            .nav-bar-num-cart {
                position: relative;
                top: -40px;
                right: -20px;
                background-color: red;
                border-radius: 50%;
                width: 15px;
                text-align: center;
                opacity: 0.9;
            }
        }
    }
    .nav-bar-3buttons>* {
        cursor: pointer;
        margin-right: 15px;
    }
    .nav-bar-logo {
        cursor: pointer;
        margin-right: 40px;
    }
}