.tag-select{
  margin-top: rem(10px);
  display: flex;
  justify-content:center;
  margin: rem(30px);
  flex-wrap: wrap;
  transition: all, .3s;

  & .tag-select-span{
    border-radius: 3px;
    margin: rem(5px) rem(30px);
    padding: rem(10px) rem(20px);
    letter-spacing: 0.2rem;
    text-align: center;
    color: darken(indigo,14%) ;
    border: rgba(54, 53, 53, 0.11) 1px solid;
    background-color: rgba(138, 139, 126, 0.26);
    transition: all, .3s;

  }

  & .tag-select-span:hover{
    background-color: rgba(64, 65, 60, 0.555);
    color: rgba(255, 240, 245, 0.623);
    border: rgba(54, 53, 53, 0.87) 1px solid;
    cursor: pointer;
  }
}