.user-prev-container {
    border: black 2px solid;
    padding: 10px;
    display: flex;
    margin-bottom: 15px;
    margin-left: 15px;
    width: rem(600px);
}

.user-prev-main {
    flex-direction: column;
}

.user-prev-img-user {
    width: rem(40px);
    height: rem(40px);
    border-radius: 50%;
    margin: 15px 10px 0 0;
}

.user-prev-fullName {
    font-size: x-large;
    font-weight: 900;
}

.user-prev-userName {
    font-size: large;
    font-weight: 600;
}

.user-prev-password {
    font-size: large;
    font-weight: 600;
}