.wish-list-container {
    margin-top: rem(150px);
    min-height: rem(605px);
    .wish-list-main-container {
        min-height: rem(200px);
    }
    .wish-list-img-product {
        width: rem(60px);
    }
}