* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

html {}

body {
    margin: 0;
    background-color: $clr1;
}
<<<<<<< HEAD
a{
    text-decoration: none;
    color: inherit;
=======

button {
    cursor: pointer;
>>>>>>> f7874c9bf897b7717e89605153ef29c46161cf92
}