* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

* {
    font-family: Montserrat, sans-serif;
    font-weight: 200;
}

body {
    margin: 0;
    background-color: $clr5;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

.btn {
    cursor: pointer;
}

input {
    outline: none;
    padding: rem(4px) rem(60px);
    margin: 0px;
}