* {
    box-sizing: border-box;
    // font-family: Opensans, sans-serif;
    font-family: MontserratAlt;

    font-weight: 200;
    line-height: 1.6;
}

img {
    width: 100%;
}

body {
    margin: 0;
    background-color: $clr6;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

.btn {
    cursor: pointer;
}

body::-webkit-scrollbar {
    width: .7em;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(48, 56, 65, .7);
    border-radius: 5px;
}