// COLOR PALETTE
$clr1: rgb(243, 243, 243);
$clr2: #b2bae6; // (לא השתמשנו בזה)
$clr3: #cfbcd9;
// $clr4: indigo;
$clr4: #9b50d1;
$clr5: #f7f7f7;
$clr6: rgb(255, 255, 255);
// LAYOUT BREAKPOINTS
$break-narrow: 460px;
$break-normal: 740px;
$break-wide: 960px;