// COLOR PALETTE
$clr1: rgb(243, 243, 243);
$clr2: #b2bae6;
$clr3: #cfbcd9;
$clr4: #9b50d1;
$clr5: #f7f7f7;
$clr6: rgb(255, 255, 255);
// LAYOUT BREAKPOINTS
$break-smallest: 390px;
$break-narrow: 560px;
$break-normal: 740px;
$break-wide: 960px;
$break-tablet: 1180px;